version: "3.8"

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: development
    ports:
      - "5173:3000"
    volumes:
      - ./frontend:/app
    depends_on:
      - backend
    environment:
      - BACKEND_URL=http://backend:3000/api/
      - NEXT_PUBLIC_FRONTEND_URL=http://localhost:5173
      - NEXTAUTH_SECRET=45ac78fa5c459c2c456a7390b26a8c0b
      - NEXTAUTH_URL=http://localhost:5173
      - FRONTEND_URL=http://localhost:5173
      - NEXT_PUBLIC_SUPABASE_URL=https://bjognysblrcgbynqjres.supabase.co
      - NEXT_PUBLIC_SUPABASE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJqb2dueXNibHJjZ2J5bnFqcmVzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MDQwMzM5OCwiZXhwIjoyMDU1OTc5Mzk4fQ.9vSaItHcMPH_xmNNsay8dLJBo7DmfFZtsq3QPZoklh0
      - STRIPE_SECRET_KEY=sk_test_51QiYlJApCGLhfsDLMdaD0wRSnYxjv12IOPx5cXCR18nPgKcdVcOCR8P6FE6d29hywaxT2iT2dP7cnafBj6VC8x0900dQFzqNFs
      - STRIPE_WEBHOOK_SECRET=whsec_4033181472a28274872efcaa354b087cefb4b6496b68b8bb7cd5723713551bf5
      - NEXT_PUBLIC_STRIPE_PRICE_ID=price_1QiZbgApCGLhfsDLBuffQC1t
      - NEXT_PUBLIC_STRIPE_PUBLIC_KEY=pk_test_51QiYlJApCGLhfsDLDtA6RNUJuUY8buS1yDkrzK1qWzVuR95JAloPfxk5XhDXv4vg5cqRfBdcde5wxxOW8lclpcKu00sAk5hebq

  backend:
    build:
      context: backend
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
      - "5555:5555"
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    depends_on:
      - db
    restart: unless-stopped
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/mydb
      - NODE_ENV=development

  db:
    image: postgres:17.6
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=mydb

  prisma-studio:
    image: node:18-alpine
    working_dir: /app
    volumes:
      - ./backend:/app
    ports:
      - "5556:5555"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/mydb
      - NODE_ENV=development
    depends_on:
      - db
    command: npx prisma studio

volumes:
  postgres_data:
