name: Simple Build Check

on:
  push:
    branches: [main, test]
  pull_request:
    branches: [main]

jobs:
  backend-build:
    name: Backend Build
    runs-on: ubuntu-latest

    steps:
      - name: Get the code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Install dependencies
        working-directory: ./backend
        run: npm install

      - name: Try to build
        working-directory: ./backend
        run: npm run build

  frontend-build:
    name: Frontend Build
    runs-on: ubuntu-latest

    steps:
      - name: Get the code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Install dependencies
        working-directory: ./frontend
        run: npm install

      - name: Try to build
        working-directory: ./frontend
        run: npm run build
